
<html>
<table class="table table-striped">
  <thead>
  <tr>
    <!--th scope="col">Id</th-->
    <th scope="col">product Id</th>
    <th scope="col">Name</th>
    <th scope="col">Price</th>
    <th scope="col">creation Date</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let product of products; index as i">
    <!--th scope="row">{{ i + 1 }}</th-->
    <td>{{ product.productId | number }}</td>
    <td>{{ product.productName}}</td>
    <td>{{ product.productPrice | number }}</td>
    <td>{{ product.creationDate | date }}</td>
    <td><a class="btn btn-danger" (click)="delete(product)">Delete</a> </td>
    <td><a class="btn btn-success" [routerLink]="['/products/modify-product/',product.productId]">Modify</a> </td>
  </tr>
  </tbody>
</table>
<div><h3>{{feedback}}</h3></div>

</html>

